<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="silkspanEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server02;initial catalog=silkspan;persist security info=True;user id=sa;password=password;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server05;initial catalog=CallQualityAssurance;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ClassLibrary1.Properties.Settings.CallQualityAssuranceConnectionString"
      connectionString="Data Source=server05;Initial Catalog=CallQualityAssurance;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>